* {
    font-family: "Roboto",  sans-serif;
}

html {
    scroll-behavior: smooth;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: darkred;
    color: white;
}

.Logo {
    width: 80;
    float: left;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}

.infos a {
    text-decoration: underline;
}

a:hover {
    color: black;
}


.welcome {
    font-family: 'Fira Code', monospace;
    color: red;
    margin-top: 120;
}

.intro {
    line-height: 0.6;
}

.intro p {
    font-size: 15;
}

.intro img{
    width: 50;
    float: right;
    margin-top: 45;
    margin-right: 10;
}

.intro h1 {
    font-size: 25;
}

.infos {
    font-family: "Roboto", sans-serif;
    opacity: 0.5;
    line-height: 1.3;

}

.About button{
    float: left;
    color: white;
    cursor: pointer;
    background-color: transparent;
    padding: 10px 15px;
    border: 2px solid;
    border-radius: 5px;
    font-size: 15;
    transition: color 0.3s ease;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
}

.About button:hover {
    color: black;
}

.link {
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
}

.motext {
    text-align: center;
}

.motext img {
    width: 350;
    float: left;
    margin-left: 40;
    margin-right: 155;
    margin-bottom: 20;
}

.motext p {
    line-height: 1.5;
}

.me {
    line-height: 1.3;
    margin-top: 400;
}

.me h1 {
    text-align: center;
}

.abt img {
    width: 300;
    border-radius: 50%;
    margin-right: 65;
}

.flex {
    display: flex;
    background-color: darkred;
    justify-content: center;
}

.flex > div {
    background-color: darkred;
    margin: 20;
    margin-top: 9;
    padding: 0px;
}
